html {
    overflow-y: scroll;
}

body {
    font: 12px 'Droid Serif',serif;
}

.home {
    position: absolute;
    top: 40px;
    left: 88px;
}

.home img {

    width: 400px;
}

.home .quoted {
    font-family: 'Gentium Basic',serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: white;
    opacity: 1;
    filter: alpha(opacity=0);
}

.menu {
    position: absolute;
    bottom: 60px;
    left: 90px;
    z-index: 998;
}

.menu ul {
    list-style: none;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    text-shadow: 0 2px 3px black;
}

.menu ul li a {
    color: white;
    line-height: 30px;
}


.menu ul li a:hover {
    color: #17ddd5;
    text-decoration: none
}

.menu  > ul ul {
    position: absolute;
    left: 180px;
    top: -9999px;
    padding-left: 5px;
    opacity: 0;
    -webkit-transition: opacity .3s ease-in;
    -moz-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    -ms-transition: opacity .3s ease-in;
}

.menu  > ul li:hover>ul {
    top: 0px;
    opacity: 1;
}

/* Global borders */

#top, #bottom, #left, #right {
    background: black;
    position: fixed;
    z-index: 1000;
}

#left, #right {
    top: 0;
    bottom: 0;
    width: 10px;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

#top {
    top: 0;
}

#bottom {
    bottom: 0;
}

#top, #bottom {
    left: 0;
    right: 0;
    height: 10px;
}