html {
    overflow-y: scroll;
}

body {
    font: 12px 'Tahoma', cursive;
}

h1,h3,h3 {
    font-family: 'Marck Script', cursive;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    font: 20px 'Marck Script', cursive;
}

.conttext {
    padding: 20px;
}

.bord::before {
    background: url(/img/common.png) 0 -1266px no-repeat;
    content: "";
    height: 332px;
    position: absolute;
    width: 7px;
}

/* item */
a.thumbnail {
    height: 100px;
    width: 100px;
    line-height: 99px;
    vertical-align: middle;
    text-align: center;
    position: relative;
    overflow: hidden;

}

a.thumbnail img {
    display: inline-block;
    vertical-align: middle;


}



/* fon-transparent */

.trnsp {
    background: rgba( 0, 0, 0, 0.3);


}


/* borders */
.bleft {
    border-left: 1px solid #444;
}

/* cool bg venzel */
.venz {

    background: url(/img/venz1.png) bottom right no-repeat;

}

/*logo*/
.logo {
    width: 0px;

}

/*slider*/

.left {
    left: 101%;
}

.carousel-control.right {
    left: 101%;
    top: 85%;
}

/*menu-dropdown*/
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    background: #333;
}
/*well*/
.well {
    border-color: black;

}
.thumbnail {
    border-color: black;
}
