html {
    overflow-y: scroll;
}

body {

    font: 12px 'Droid Serif',serif;
}



/*logo*/
.logo {
    width: 0px;

}

/*slider*/

.left {
    left: 101%;
}

.carousel-control.right {
    left: 101%;
    top: 85%;
}

/*menu-dropdown*/
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    background: #333;
}
/*well*/
.well {
    border-color: black;

}
.thumbnail {
    border-color: black;
}
