  <div class="page-header">
    <h1>
      {{catTitle}}
      <small>
	{{{catContent}}}
      </small>
    </h1>
  </div>
  <div>
    <div class="admin-only"><h4><a class="cream" href="#/edit_category/{{catId}}">Редактировать раздел</a></h4>
    <h4><a class="cream" href="#/delcategory/{{catName}}">Удалить раздел</a></h4>
    </div>
  </div>



{{#items}}
<li class="span2">
  {{#each_hash _attachments}}

    <a rel="lightbox[item{{../_id}}]" href="/json/image?id={{../_id}}&image={{_key}}" title="{{../title}}"  class="thumbnail">
      <img class="" alt="" src="/json/image?id={{../_id}}&image={{_key}}"></img>
    </a>
     <a class="admin-only" href="#/deleteitem/{{category}}/{{ _id }}">
	    <i class="icon-cut icon-large" ></i>
	    Удалить</a>


  {{/each_hash}}
</li>
{{/items}}
