<li class="span4">
  {{#each_hash _attachments}}

    <a rel="lightbox[item{{../_id}}]" href="/json/image?id={{../_id}}&image={{_key}}" title="{{title}}"  class="thumbnail">
      <img class="" alt="" src="/json/image?id={{../_id}}&image={{_key}}"></img>
    </a>

  {{/each_hash}}
</li>
